html, body {
  width: 100%;
  height: 100%;
}

.main_blur {
  filter: blur(4px);
  pointer-events: none;
}

.center {
  text-align: center;
}

#mainBox {
  background-color: #f7f7f7;
  height: 100%;
}

#sketchBox {
  text-align: center;
}

.w-max {
  width: 100%;
}

#mySketcher {
  transform: translate(0, 50%);
}